<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Actor' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <!--Bootshape-->
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/course.css">


    <title>AdminHub</title>
</head>

<body>

    <style>
        table,
        th,
        td {
            border: 1px solid;
        }

        .cart-link {
            position: relative;
        }

        .cart-link::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: black;
            transform: scaleX(0);
            transform-origin: left center;
            transition: transform 0.3s ease-in-out;
        }

        .cart-link:hover::after {
            transform: scaleX(1);
        }
    </style>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">AdminPortal</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="/admin" class="">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text cart-link">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/product">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text cart-link">Product</span>
                </a>
            </li>
            <li>
                <a href="/users">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text cart-link">Customers</span>
                </a>
            </li>
            <li class="active">
                <a href="/adminorder">
                    <i class='bx bxs-message-dots'></i>
                    <span class="text cart-link">Order</span>
                </a>
            </li>
            <li>
                <a href="/sale-reports">
                    <i class='bx bxs-group'></i>
                    <span class="text cart-link">Reports</span>
                </a>
            </li>
            <li>
                <a href="/transactions">
                    <i class='bx bxs-group'></i>
                    <span class="text cart-link">Transactions</span>
                </a>
            </li>

            <li>
                <a href="/couponadmin">
                    <i class='bx bxs-group'></i>
                    <span class="text cart-link">Coupons</span>
                </a>
            </li>
            <li>
                <a href="/create-banner">
                    <i class='bx bxs-group'></i>
                    <span class="text cart-link">Banner</span>
                </a>
            </li>
            <li>
                <a href="/send-email">
                    <i class='bx bxs-group'></i>
                    <span class="text cart-link">Email</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li>
                <a href="/signout" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <a href="/category" class="nav-link">Categories</a>
            <form class="d-flex mx-auto">
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a href="/productadd">Add</a>
        </nav>

        <!-- NAVBAR -->


        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Cancel</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>Are you sure want to cancel the order ?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="" class="btn btn-danger" id="confirm-delete-btn">Cancel</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">

            <table id="example" class="table table-light table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="text" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Category
                                </button>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item rounded" href="/adminorder">All Categories</a>
                                    <a class="dropdown-item rounded"
                                        href="/adminorder?category=Smartphones">Smartphones</a>
                                    <a class="dropdown-item rounded" href="/adminorder?category=Laptops">Laptops</a>
                                    <a class="dropdown-item rounded"
                                        href="/adminorder?category=Headphones">Headphones</a>
                                </ul>
                            </div>
                        </th>
                        <th>Product</th>
                        <th>Image</th>
                        <th>Paymentmode</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Action</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {{#each orders}}
                    <tr>
                        {{#each this.products}}
                        <td>{{category}}</td>
                        <td>{{productname}}</td>
                        <td>
                            {{#if this.image}}
                            <img src="/{{this.image.filepath}}" class="product-image" style="width:4rem" />
                            {{else}}
                            <img src="/images/default-product-image.jpg" class="product-image" />
                            {{/if}}
                        </td>
                        <td>{{paymentmode}}</td>
                        {{/each}}
                        <td>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="text" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{status}}
                                </button>
                                <ul id="dropdown" class="dropdown-menu">
                                    <li><a class="dropdown-item rounded"
                                            href="/adminorder?edit_id={{this._id}}&status=Order Placed">Order Placed</a>
                                    </li>
                                    <li><a class="dropdown-item rounded"
                                            href="/adminorder?edit_id={{this._id}}&status=Order Shipped">Order
                                            Shipped</a></li>
                                    <li><a class="dropdown-item rounded"
                                            href="/adminorder?edit_id={{this._id}}&status=Order On-Route">Order
                                            On-Route</a></li>
                                    <li><a class="dropdown-item rounded"
                                            href="/adminorder?edit_id={{this._id}}&status=Order Delivered">Order
                                            Delivered</a></li>
                                    <li><a class="dropdown-item rounded"
                                            href="/adminorder?edit_id={{this._id}}&status=Order Return">Order Return</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>{{totalPrice}}</td>
                        <td>
                            <button type="button" id="cancelButton" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                <a id="cancelLink" href="/adminorder?edit_id={{this._id}}&status=Order Canceled"
                                    class="text-light bg-danger" data-delete>Order Cancel</a>
                            </button>
                        </td>
                        <td>
                            <a href="/adminorderdetails/{{this._id}}">Details</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>


            <!-- Pagination -->
            {{!-- <a href="/product?page={{prevPage}}">Previous</a>

            <a href="/product?page={{nextPage}}">Next</a> --}}

        </div>

        <script>
            $(document).ready(function () {
                var tableBody = $("#tableBody");
                var rows = tableBody.children("tr");
                rows.each(function (index, row) {
                    tableBody.prepend(row);
                });
            });
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const cancelOrderButton = document.getElementById("cancelButton");
                const orderStatus = '{{ order.status }}'; // Replace with the actual order status variable

                if (orderStatus === "Order Canceled") {
                    cancelOrderButton.style.pointerEvents = "none";
                    cancelOrderButton.style.display = "none"; // Set to "none" to hide the button
                } else {
                    cancelOrderButton.style.display = "block";
                    // Additional code for the button's normal behavior if needed
                }
            });
        </script>



        <!-- CONTENT -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>


        <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
        <script>

            document.addEventListener("DOMContentLoaded", function () {
                // Handle delete button click
                var deleteButtons = document.querySelectorAll('a[data-delete]');
                for (var i = 0; i < deleteButtons.length; i++) {
                    deleteButtons[i].addEventListener('click', function (event) {
                        event.preventDefault();
                        var url = this.getAttribute('href');

                        // Set the URL for the delete button in the modal
                        document.querySelector('#confirm-delete-btn').setAttribute('href', url);

                        // Show the modal
                        var confirmDeleteModal = document.querySelector('#confirm-delete-modal');
                        confirmDeleteModal.classList.add('show');
                        confirmDeleteModal.style.display = 'block';
                        var modalBackdrop = document.createElement('div');
                        modalBackdrop.classList.add('modal-backdrop', 'fade', 'show');
                        document.body.appendChild(modalBackdrop);
                    });
                }
            });

        </script>
        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });

            $(document).ready(function () {
                $('#example').on('click', '.btn-primary', function () {
                    $('#updateModal').modal('show');
                });
            });


            const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');

            allSideMenu.forEach(item => {
                const li = item.parentElement;

                item.addEventListener('click', function () {
                    allSideMenu.forEach(i => {
                        i.parentElement.classList.remove('active');
                    })
                    li.classList.add('active');
                })
            });




            // TOGGLE SIDEBAR
            const menuBar = document.querySelector('#content nav .bx.bx-menu');
            const sidebar = document.getElementById('sidebar');

            menuBar.addEventListener('click', function () {
                sidebar.classList.toggle('hide');
            })



            if (window.innerWidth < 768) {
                sidebar.classList.add('hide');
            } else if (window.innerWidth > 576) {
                searchButtonIcon.classList.replace('bx-x', 'bx-search');
                searchForm.classList.remove('show');
            }


            window.addEventListener('resize', function () {
                if (this.innerWidth > 576) {
                    searchButtonIcon.classList.replace('bx-x', 'bx-search');
                    searchForm.classList.remove('show');
                }
            })

        </script>
        <script>

            const switchMode = document.getElementById('switch-mode');

            switchMode.addEventListener('change', function () {
                if (this.checked) {
                    document.body.classList.add('dark');
                } else {
                    document.body.classList.remove('dark');
                }
            })





        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Handle keyup event on search input field
                var searchInput = document.querySelector("#search-input");
                searchInput.addEventListener("keyup", function () {
                    var searchValue = searchInput.value.toLowerCase();

                    // Get all rows of the table
                    var tableRows = document.querySelectorAll("table tbody tr");

                    // Iterate over the rows and check if they match the search value
                    tableRows.forEach(function (row) {
                        var rowData = row.innerText.toLowerCase();

                        // If the row data contains the search value, display the row; otherwise, hide it
                        if (rowData.indexOf(searchValue) > -1) {
                            row.style.display = "table-row";
                        } else {
                            row.style.display = "none";
                        }
                    });
                });
            });


        </script>
</body>

</html>